@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

$font = "Poppins", sans-serif;

$borderSizeXs = 1px;
$borderSizeL = 10px;

$borderRadius = 8px;

$blue = #0984e3;
$lightBlue = #74b9ff;

$grey = #636e72;
$lightGrey = #ddd;

$lightGreen = #00b894;

$red = #d63031;
$lightRed = #ff7675;